*{
    margin: 0;
    box-sizing: border-box;
}
.box{
    max-width: 250px;
    width: 100%;
    height: 100px;
    background-color: red;
    border: solid 12px blue;
}
.box2{
    max-width: 250px;
    width: 100%;
    height: 100px;
    background-color: green;
    border: solid 12px yellow;
}
.frame{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
}
/* flex wrap aris responsiuli, rodesac dapataravebis dros agar eteva tviton chamodis qvemot */
@media (max-width: 800px){
    .box{
        max-width: 250px;
        width: 100%;
        height: 100px;
        background-color: blue;
        border: solid 12px red;
    }
    .box2{
        max-width: 250px;
        width: 100%;
        height: 100px;
        background-color: yellow;
        border: solid 12px green;
    }
    .frame{
        display: flex;
        flex-direction: row;
        gap: 12px;
    }
  
}

/* max widthis dros roca rezolucia pataravdeba mashin icvleba, xolo min widthis dros roca rezolucia izrdeba mashin */